c331033 김윤진

# iterable 자료형

In [32]:
x_list = [0, 1, 2, 3, 4]

print(x_list[0])
print(x_list[1])
print(x_list[2])
print(x_list[3])
print(x_list[4])

0
1
2
3
4

In [33]:
x_list = [0, 1, 2, 3, 4]


print(x_list[-1]) 
print(x_list[-2])
print(x_list[-3])
print(x_list[-4])
print(x_list[-5])

4
3
2
1
0

In [34]:
try:
        print(x_list[5])
except IndexError as e:
        print(e)

list index out of range

In [35]:
x_list = [1, 2, 3, 4, 5] 
x_tuple = (1, 2, 3, 4, 5)
print(f'{x_list = } \t => {x_list[0] = }')

print(f'{x_tuple = } \t => {x_tuple[-1] = }')

x_list = [1, 2, 3, 4, 5] 	 => x_list[0] = 1
x_tuple = (1, 2, 3, 4, 5) 	 => x_tuple[-1] = 5

In [36]:
x_dict = {'name' : [ '김홍익', '이파이'], 'id' :[12345, 67890]}


print(f'{x_dict = } \t => {x_dict["name"][0] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	 => x_dict["name"][0] = '김홍익'

In [37]:
x_str = 'Hello World!'

print(f'{x_str = } \t\t => {x_str[0] = }')

print(f'{x_str = } \t\t => {x_str[3] = }')

x_str = 'Hello World!' 		 => x_str[0] = 'H'
x_str = 'Hello World!' 		 => x_str[3] = 'l'

In [38]:
x_list =[0, 1, 2, 3, 4]

print(x_list[1:3]) 
print(x_list[1:]) 
print(x_list[:3]) 
print(x_list[:])

[1, 2]
[1, 2, 3, 4]
[0, 1, 2]
[0, 1, 2, 3, 4]

In [39]:
try:
        print(x_list[1:10])
except IndexError as e:
        print(e)

[1, 2, 3, 4]

In [40]:
x_list = [1, 2, 3, 4, 5] 
x_tuple = (1, 2, 3, 4, 5) 
print(f'{x_list = } \t => {x_list[0:3] = }')

print(f'{x_tuple = } \t => {x_tuple[-1:-4:-1] = }')

x_list = [1, 2, 3, 4, 5] 	 => x_list[0:3] = [1, 2, 3]
x_tuple = (1, 2, 3, 4, 5) 	 => x_tuple[-1:-4:-1] = (5, 4, 3)

In [41]:
x_dict = {'name': ['김홍익', '이파이'], 'id':[12345, 67890]}

print(f'{x_dict = } \t => {x_dict["name"][0:1] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	 => x_dict["name"][0:1] = ['김홍익']

In [42]:
x_str = 'Hello World!'

print(f'{x_str = } \t\t => {x_str[0:3] = }')

print(f'{x_str = } \t\t => {x_str[-2:-10:-2] = }')

x_str = 'Hello World!' 		 => x_str[0:3] = 'Hel'
x_str = 'Hello World!' 		 => x_str[-2:-10:-2] = 'drWo'

In [43]:
x = (1,2,3)

y=x

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = (1, 2, 3) 	 => id(x) = 2386090962624
y = (1, 2, 3) 	 => id(y) = 2386090962624

In [44]:
y= (1, 20, 3)

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = (1, 2, 3) 	 => id(x) = 2386090962624
y = (1, 20, 3) 	 => id(y) = 2386084078208

In [45]:
x = [1,2,3]

y=x

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = [1, 2, 3] 	 => id(x) = 2386091687040
y = [1, 2, 3] 	 => id(y) = 2386091687040

In [46]:
y[1] = 20

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = [1, 20, 3] 	 => id(x) = 2386091687040
y = [1, 20, 3] 	 => id(y) = 2386091687040

In [47]:
x = [1,2,3]

y = x.copy()

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = [1, 2, 3] 	 => id(x) = 2386091477952
y = [1, 2, 3] 	 => id(y) = 2386091407744

In [48]:
y[1] = 20

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = [1, 2, 3] 	 => id(x) = 2386091477952
y = [1, 20, 3] 	 => id(y) = 2386091407744

In [49]:
x_list = [1, 2, 3, 4, 5]
x_tuple =(1, 2, 3, 4, 5)

print(f'x_list는 {type(x_list)}이고, x_tuple은 {type(x_tuple)}이다. ' )

x_list는 <class 'list'>이고, x_tuple은 <class 'tuple'>이다.

In [50]:
print( f'Before: {x_list = } ' )


try:
        x_list[1] = '2'

        del x_list[3]
except TypeError as e:
        print(f'Error : {e} ' )

print(f'After : {x_list = } ' )

Before: x_list = [1, 2, 3, 4, 5]
After : x_list = [1, '2', 3, 5]

In [51]:
print( f'Before: {x_tuple = } ' )

try:
        x_tuple[1] = '2'
except TypeError as e:
        print(f'Error : {e} ' )

try:
        del x_tuple[3]
except TypeError as e:
        print(f'Error : {e} ' )

print(f'After : {x_tuple = } ' )

Before: x_tuple = (1, 2, 3, 4, 5)
Error : 'tuple' object does not support item assignment
Error : 'tuple' object doesn't support item deletion
After : x_tuple = (1, 2, 3, 4, 5)

In [52]:
x_list = [0, 1, 2, 3, 4]

print(f'{len(x_list) = }')

print(f'{sum(x_list) = }')

print(f'{min(x_list) = }')

print(f'{max(x_list) = }')

print(f'{sorted(x_list) = }')

print(f'{sorted(x_list, reverse=True) = }')

print(f'{all(x_list) = }')

print(f'{any(x_list) = }')

len(x_list) = 5
sum(x_list) = 10
min(x_list) = 0
max(x_list) = 4
sorted(x_list) = [0, 1, 2, 3, 4]
sorted(x_list, reverse=True) = [4, 3, 2, 1, 0]
all(x_list) = False
any(x_list) = True

In [53]:
print(dir(x_list), end='\n'+'='*80+'\n')

print(dir(x_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
================================================================================
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [54]:
x_list =[1, 2, 3, 4, 5, 2, 3, 2]
print(f'{x_list = }')
print(f'{x_list.count(2) = }')
print(f'{x_list.index(2) = }')

x_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_list.count(2) = 3
x_list.index(2) = 1

In [55]:
y_list = x_list.copy()

print(f'{y_list = }')

print(f'{x_list is y_list = }')

print(f'{id(x_list) = }, {id(y_list) = }')

y_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_list is y_list = False
id(x_list) = 2386091396288, id(y_list) = 2386091397184

In [56]:
x_list.reverse()
print(f'{x_list = }')

x_list = [2, 3, 2, 5, 4, 3, 2, 1]

In [57]:
x_list.sort()
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5]

In [58]:
x_list.append(6)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6]

In [59]:
x_list.extend([7, 8, 9])
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [60]:
x_list.append([10, 11, 12])
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [61]:
x_list.insert(3, 3.5)
print(f'{x_list = }')

x_list = [1, 2, 2, 3.5, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [62]:
x_list.remove(3.5)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [63]:
x_list. pop()
print(f'{x_list = }')

x_list.pop(7)
print(f'{x_list = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]
x_list = [1, 2, 2, 2, 3, 3, 4, 6, 7, 8, 9]

In [64]:
x_pop = x_list.pop(0)
print(f'{x_list = }, {x_pop = }')

x_list = [2, 2, 2, 3, 3, 4, 6, 7, 8, 9], x_pop = 1

In [65]:
x_list.clear()
print(f'{x_list = }')

x_list = []

In [66]:
del x_list


try:
        print(f'{x_list = }')
except NameError as e:
         print(f'Error : {e}')

Error : name 'x_list' is not defined

In [67]:
string1 = "Hello Python! My name is Python. I am a Python Developer."

print(string1)

Hello Python! My name is Python. I am a Python Developer.

In [68]:
string2 = 'Hello Python! My name is Python. I am a Python Developer.'

print(string2)

Hello Python! My name is Python. I am a Python Developer.

In [69]:
string3 = """Hello Python! 
My name is Python. 
I am a Python Developer.
"""

print(string3)

Hello Python!
My name is Python.
I am a Python Developer.

In [70]:
string4 = '''Hello Python! 
My name is Python. 
I am a Python Developer.
'''

print(string4)

Hello Python!
My name is Python.
I am a Python Developer.

In [71]:
string = 'Hello \tPython! \nMy \tname \tis \tPython. \nI \tam \ta \tPython \tDeveloper.'

print(string)

Hello 	Python!
My 	name 	is 	Python.
I 	am 	a 	Python 	Developer.

In [72]:
string = 'Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'! \nI \tam \ta \t\"Python\"\tDeveloper.'

print(string)

Hello 	\Python\!
My 	name 	is 	'Python'!
I 	am 	a 	"Python"	Developer.

In [73]:
string_r = r'Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\" \tDeveloper.'

print(string_r)

Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\" \tDeveloper.

In [74]:
name = 'Python'
string_f = f'Hello {name}! My name is {name}. I am a {name} Developer.'
print(string_f)

Hello Python! My name is Python. I am a Python Developer.

In [75]:
string = "Hello Python! My name is Python. I am a Python Developer ."
print(f'''
{string[0]=}
{string[3]=}
{string[-1]=}
{string[-3]=}

{string[0:5]=}
{string[6:12]=}
{string[:5]=}
{string[6:]=}
{string[6:-1]=}
{string[6:-3]=}


{string[6:12:2]=}

{string[::2]=}

{string[::-1]=}
''')

string[0]='H'
string[3]='l'
string[-1]='.'
string[-3]='r'

string[0:5]='Hello'
string[6:12]='Python'
string[:5]='Hello'
string[6:]='Python! My name is Python. I am a Python Developer .'
string[6:-1]='Python! My name is Python. I am a Python Developer '
string[6:-3]='Python! My name is Python. I am a Python Develope'


string[6:12:2]='Pto'

string[::2]='HloPto!M aei yhn  maPto eeoe '

string[::-1]='. repoleveD nohtyP a ma I .nohtyP si eman yM !nohtyP olleH'

In [76]:
string ="Hello Python! " + "My name is Python. " + "I am a Python Developer. "
print(string)

Hello Python! My name is Python. I am a Python Developer.

In [77]:
string ="Hello Python! " * 3
print(string)

Hello Python! Hello Python! Hello Python!

In [78]:
string ="2024_바이오헬스 교과목 목록.xlsx"

print(len(string))

print('2024' in string)

print('csv' not in string)

22
True
True

In [79]:
my_dict1 = {}

my_dict2 = {}

print(f'{my_dict1 = }\n{my_dict2 = }')

my_dict1 = {}
my_dict2 = {}

In [80]:
my_dict1 = {'name' : 'Max', 'age' : 28, 'city': 'New York' }

my_dict2 = dict(name='Max', age=28, city='New York' )

my_dict3 = dict([('name', 'Max'), ('age', 28), ('city', 'New York')])

print(f'{my_dict1 = }\n{my_dict2 = }\n{my_dict3 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict2 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict3 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [81]:
person_keys = ['name', 'age', 'city']
person_values = ['Max', 28, 'New York']

my_dict4 = dict(zip(person_keys, person_values))
print(f'{my_dict4 = }')

my_dict4 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [82]:
my_dict_dict = { 'A': {'name': 'Max', 'age': 28, 'city': 'New York'}, 'B': {'name': 'Mary', 'age': 22, 'city': 'Seoul'}}

print(f'{my_dict_dict = }')

my_dict_dict = {'A': {'name': 'Max', 'age': 28, 'city': 'New York'}, 'B': {'name': 'Mary', 'age': 22, 'city': 'Seoul'}}

In [83]:
from pprint import pprint
pprint(my_dict_dict)

{'A': {'age': 28, 'city': 'New York', 'name': 'Max'},
 'B': {'age': 22, 'city': 'Seoul', 'name': 'Mary'}}

In [84]:
print(f'{my_dict1 = }')

print(f'{type(my_dict1) = }')

print(f'{len(my_dict1) = }')

print("name" in my_dict1)

print("Max" in my_dict1)

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
type(my_dict1) = <class 'dict'>
len(my_dict1) = 3
True
False

In [85]:
print(f'{my_dict1["name"] = }')

try:
        print(f'{my_dict1["name2"] = }')
except KeyError as e:
        print (f'KeyError: {e}')

my_dict1["name"] = 'Max'
KeyError: 'name2'

In [86]:
print(f'{my_dict_dict["A"]["name"] = }')

my_dict_dict["A"]["name"] = 'Max'

In [87]:
print(f'{my_dict1.get("name") = }')

print(f'{my_dict1.get("name2") = }')

print(f'{my_dict1.get("name2", "replacement") = }')

my_dict1.get("name") = 'Max'
my_dict1.get("name2") = None
my_dict1.get("name2", "replacement") = 'replacement'

In [88]:
print(f'{my_dict1.keys() = }')

print(f'{my_dict1.values() = }')

print(f'{my_dict1.items() = }')

my_dict1.keys() = dict_keys(['name', 'age', 'city'])
my_dict1.values() = dict_values(['Max', 28, 'New York'])
my_dict1.items() = dict_items([('name', 'Max'), ('age', 28), ('city', 'New York')])

In [89]:
print(f'{my_dict1 = }')

my_dict1["id"] = 123
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York', 'id': 123}

In [90]:
del my_dict1["id"]
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 28, 'city': 'New York'}

In [91]:
my_dict1["age"] = 30
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 30, 'city': 'New York'}

In [92]:
my_dict1.update(age = 40, id = 123, occupation = "Data Scientist")
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 40, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [93]:
my_dict_more = {"age": 50, "affiliation": "Hongik Univ."}
my_dict1.update(my_dict_more)
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist', 'affiliation': 'Hongik Univ.'}

In [94]:
my_dict1.pop("affiliation")
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [95]:
occupation = my_dict1.pop("occupation")
print(f'{my_dict1 = }\n{occupation = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
occupation = 'Data Scientist'

In [96]:
try:

        my_dict1.pop("occupation")
except KeyError as e:
        print(f'KeyError: {e}')

occupation = my_dict1.pop("occupation", "unknown")
print(f'{occupation = }')

KeyError: 'occupation'
occupation = 'unknown'

In [97]:
print(f'{my_dict1 = }')

last = my_dict1.popitem()
print(f'{my_dict1 = }\n{last = }')

last = my_dict1.popitem()
print(f'{my_dict1 = }\n{last = }')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York'}
last = ('id', 123)
my_dict1 = {'name': 'Max', 'age': 50}
last = ('city', 'New York')

In [98]:
my_dict1.clear()
print(f'{my_dict1 = }')

my_dict1 = {}

# 추가학습 내용

In [99]:
x_list = ['a', 'b', 'c', 'd', 'e']


print(x_list[-1]) 
print(x_list[-2])
print(x_list[-3])
print(x_list[-4])
print(x_list[-5])

e
d
c
b
a

인덱싱은 원소 'a'를 a로 변환

In [100]:
x_dict = {'name' : [ '김홍익', '이파이'], 'id' :[12345, 67890]}


print(f'{x_dict = } \t => {x_dict["name"][1] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	 => x_dict["name"][1] = '이파이'

x_dict["name"]은 ['김홍익', '이파이']이므로 x_dict["name"][1]의 값은 '이파이'임

In [101]:
x_dict = {'name' : [ '김홍익', '이파이'], 'id' :[12345, 67890]}


print(f'{x_dict = } \t => {x_dict["id"][1] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	 => x_dict["id"][1] = 67890

x_dict["id"]는 [12345, 67890], x_dict["id"][1]의 값은 67890임

In [102]:
x_tuple = ['a', 'b', 'c', 'd', 'e']


print(x_tuple[3]) 
print(x_tuple[1:3])

d
['b', 'c']

튜플을 슬라이싱하면 튜플

In [103]:
x = ('a', 'b', 'c', 'd', 'e')
print(x[1:1])

()

튜플만 반환

In [104]:
print(x[3:1])

()

튜플만 반환

In [105]:
print(x[1:2])

('b',)

튜플을 원소 하나일 때 콤마를 붙여야함

In [106]:
x_list = [1, 2, 3, 4, 5]
len(x_list)

5

x_list의 갯수를 알려줌

In [107]:
try:
        print(x_list[1:])
except IndexError as e:
        print(e)

[2, 3, 4, 5]

print(x_list[1:10]) 대신 print(x_list[1:])로 쓸 수 있음.

In [108]:
x_list = ['a', 'b', 'c', 'd', 'e']

print(x_list[1:3]) 
print(x_list[1:])
print(x_list[:3])
print(x_list[:])

['b', 'c']
['b', 'c', 'd', 'e']
['a', 'b', 'c']
['a', 'b', 'c', 'd', 'e']

list를 슬라이싱하면 list가 나옴

In [109]:
type([1, 2, 3])

list

[1, 2, 3]의 타입은 <class 'list'>

sum(['1', 2, 3])는 에러, int와 str는 더할 수 없음.

sum([1, 2, [3, 4]])는 에러, int와 list는 더할 수 없음.

sum(['abc', 'def'])는 에러, str이므로 sum()은 더할 수 없음.

min([1, '2'])는 에러, str와 int는 비교할 수 없음.

In [110]:
min(['1', '2'])

'1'

In [111]:
min(['A', '2'])

'2'

In [112]:
min(['A', 'a'])

'A'

In [113]:
min(['가','A', 'a', '0'])

'0'

문자에 매겨진 번호순대로 작고 큼을 비교함. 숫자<영어 대문자<영어 소문자<한글 순임.

sorted([1, 3, '1', '3'])는 에러, str와 int는 순서대로 나열할 수 없음.

In [114]:
sorted(['a', 'A', '1', '3'])

['1', '3', 'A', 'a']

In [115]:
sorted(['a', 'A', '하하', '3', 'Aa'])

['3', 'A', 'Aa', 'a', '하하']

문자에 매겨진 번호순대로 작은것부터 나열함. 숫자<영어 대문자<영어 소문자<한글 순임.

In [116]:
all([1, 2, 3])

True

1, 2, 3은 모두 0이 아니므로 True

In [117]:
all([1, 0, 3])

False

0이 있으므로 False

In [118]:
all([1, [0], 3])

True

[0]은 리스트 자체가 비어 있지 않으므로 True
(리스트 내부 값 0은 상관없음!)

In [119]:
all([1, [], 3])

False

[]은 원소가 없으므로 False

In [120]:
len([1,2,3,[4,5,6]])

4

[4, 5, 6] 리스트 자체가 하나의 요소이기 때문에 리스트 [1, 2, 3, [4, 5, 6]]에는 4개의 요소가 포함

In [121]:
len([4,5,6])

3

리스트 [4, 5, 6]에는 3개의 요소가 포함

In [122]:
len([[]])

1

리스트 [[]]에는 [] 빈 리스트 자체인 하나의 요소만 있음.

In [123]:
len([])

0

[] 빈 리스트에는 아무 요소도 없으므로 길이는 0

In [124]:
len(())

0

() 빈 튜플에는 아무 요소도 없으므로 길이는 0

len((,))는 에러, len((,))는 잘못된 구문

In [125]:
len((()))

0

len((())) 튜플이 아니라 괄호임.

In [126]:
len(((),))

1

(((),))는 하나의 요소로 빈 튜플을 포함하는 튜플

In [127]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

문자열을 리스트로 변환, 각 문자가 리스트의 요소로 변환된 리스트인 ['a', 'b', 'c', 'd', 'e']가 됨.

In [128]:
list('abcde'). index('c')

2

문자열을 리스트로 변환한 후 'c'의 인덱스를 찾음, 'c'의 인덱스는 2

In [129]:
['a', 'b', 'c', 'd', 'e']. index('c')

2

리스트 ['a', 'b', 'c', 'd', 'e']에서 'c'는 세 번째 요소로, 인덱스는 2

In [130]:
['a', 'b', 'c', 'c', 'e']. count('c')

2

리스트 ['a', 'b', 'c', 'c', 'e']에서 'c'의 개수를 셈, 'c'의 개수는 2

In [131]:
['a', 'b', 'd', 'd', 'e']. count('c')

0

리스트 ['a', 'b', 'd', 'd', 'e']에서 'c'의 개수를 셈, 'c'의 개수는 0

In [132]:
y_list = x_list

print(f'{y_list = }')

print(f'{x_list is y_list = }')

print(f'{id(x_list) = }, {id(y_list) = }')

y_list = ['a', 'b', 'c', 'd', 'e']
x_list is y_list = True
id(x_list) = 2386085028160, id(y_list) = 2386085028160

y_list = x_list는 y_list가 x_list를 참조. 두 변수는 동일한 리스트 객체를 가르킴. print(f'{x_list is y_list = }')는 x_list와 y_list가 동일한 주소를 갖는지 확인하고 True 출력

x_list = x_list.sort()
print(f'{x_list = }')는 에러, none타입은 sort를 가질 수 없음.

In [133]:
x_list = [1,2,3,4,5,2,3,2]
x_list1 = x_list.sort()
print(f'{x_list = }')
print(f'{x_list1 = }')

x_list = [1, 2, 2, 2, 3, 3, 4, 5]
x_list1 = None

x_list1 = x_list.sort()는 sort()가 None을 반환하기 때문에 x_list1은 None이 됨.
print(f'{x_list = }')는 x_list의 내용을 출력

x_list.extend(7,8,9)
print(f'{x_list = }')는 에러, extend은 입력값을 하나만 받는데 3개임.

In [134]:
y = [3,2,4,6,2,3,4]
y.remove(2)
y.remove(2)
print(f'{y = }')

y = [3, 4, 6, 3, 4]

첫 번째 y.remove(2)은 리스트에서 첫 번째로 나타나는 2를 제거. y는 [3, 4, 6, 2, 3, 4]
두 번째 y.remove(2)은 남아 있는 2를 제거. y는 [3, 4, 6, 3, 4]

In [135]:
x = [1,2,3,4,5]
x.pop()

5

[1,2,3,4,5]에서 맨마지막꺼 뽑아서 반환.

In [136]:
x

[1, 2, 3, 4]

x는 5가 뽑힌 상태에서 유지됨

In [137]:
x_poped = x.pop()
print(f'{x_poped = }')
print(f'{x = }')

x_poped = 4
x = [1, 2, 3]

x_poped = x.pop()
print(f'{x_poped = }')
print(f'{x = }') 이 코드는 실행할때마다 4, 3, 2, 1순으로 없어짐. 최종적으로 원소가 없으면 에러가 남

In [138]:
x_poped = x.pop(0)
print(f'{x_poped = }')
print(f'{x = }')

x_poped = 1
x = [2, 3]

이 코드는 실행할때마다 1,2,3,4,5순으로 없어짐. 최종적으로 원소가 없으면 에러가 남

In [139]:
name = 'python'
string_f = f'Hello {name :<50s}! My name is {name :<50s}. I am a {name :<50s} Developer.'
print(string_f)

Hello python                                            ! My name is python                                            . I am a python                                             Developer.

{name :<50s}은 name을 왼쪽 정렬로 50자리 공간을 차지하도록 포맷.

In [140]:
name = 'python'
string_f = f'Hello {name :>50s}! My name is {name :>50s}. I am a {name :>50s} Developer.'
print(string_f)

Hello                                             python! My name is                                             python. I am a                                             python Developer.

python은 왼쪽 정렬로 50자리 공간을 차지

In [141]:
name = 'python'
string_f = f'Hello {name :50s}! My name is {name :50s}. I am a {name :50s} Developer.'
print(string_f)

Hello python                                            ! My name is python                                            . I am a python                                             Developer.

name 변수에 저장된 문자열을 오른쪽 정렬로 50자리 공간에 맞춰 출력.

name = 'python'
string_f = f'Hello {name :50D}! My name is {name :50D}. I am a {name :50D} Developer.'
print(string_f)는 에러, D는 정수형이며, 문자열에는 사용할 수 없음

name = 'python'
string_f = f'Hello {name :50f}! My name is {name :50f}. I am a {name :50f} Developer.'
print(string_f)는 에러, f는 실수형이며, 문자열에는 사용할 수 없음

In [142]:
name = 'python'
string_f = f'Hello {name }! My name is {name }. I am a {name } Developer.'
print(string_f)

Hello python! My name is python. I am a python Developer.

{name}에 스페이스를 넣어도 출력값은 변화 없음.

In [143]:
name = 'python'
string_f = f'Hello {name= }! My name is {name= }. I am a {name= } Developer.'
print(string_f)

Hello name= 'python'! My name is name= 'python'. I am a name= 'python' Developer.

{name}에 = 을 넣으면 출력값에도 name=으로 나옴.

'Hello' - 'H'는 에러, 문자열 간의 뺄셈 연산 안됨

In [144]:
list('a'*5 + 'b'*5 +'c'*5 +'d'*5 +'e'*5)

['a',
 'a',
 'a',
 'a',
 'a',
 'b',
 'b',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'c',
 'd',
 'd',
 'd',
 'd',
 'd',
 'e',
 'e',
 'e',
 'e',
 'e']

모든 문자열을 더하면 'aaaaabbbbbcccccdddddeeeee'라는 하나의 문자열이 생성, list() 함수를 사용하여 리스트로 변환하면, 각 문자가 리스트의 요소가 됨.

In [145]:
list(['a']*5 + ['b']*5 +['c']*5 +['d']*5 +['e']*5)

['a',
 'a',
 'a',
 'a',
 'a',
 'b',
 'b',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'c',
 'd',
 'd',
 'd',
 'd',
 'd',
 'e',
 'e',
 'e',
 'e',
 'e']

['a']*5는 리스트 ['a']를 5번 반복하여 ['a', 'a', 'a', 'a', 'a']를 생성함. 다른 요소도 동일한 방식으로 변환돼 최종적으로 이 모든 리스트를 더하면 하나의 리스트가 생성됨.

In [146]:
list(('a')*5 + ('b')*5 +('c')*5 +('d')*5 +('e')*5)

['a',
 'a',
 'a',
 'a',
 'a',
 'b',
 'b',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'c',
 'd',
 'd',
 'd',
 'd',
 'd',
 'e',
 'e',
 'e',
 'e',
 'e']

('a')*5는 문자열 'a'를 5번 반복하여 'aaaaa'라는 문자열을 생성. 다른 요소도 동일한 방식으로 변환돼 최종적으로 이 모든 리스트를 더하면 하나의 리스트가 생성됨.

In [147]:
list(('a',)*5 + ('b',)*5 +('c',)*5 +('d',)*5 +('e',)*5)

['a',
 'a',
 'a',
 'a',
 'a',
 'b',
 'b',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'c',
 'd',
 'd',
 'd',
 'd',
 'd',
 'e',
 'e',
 'e',
 'e',
 'e']

('a',)*5는 튜플 ('a',)를 5번 반복하여 튜플 ('a', 'a', 'a', 'a', 'a')를 생성. 다른 요소도 동일한 방식으로 변환돼 최종적으로 이 모든 튜플을 더하면 하나의 튜플이 생성됨.

list(('a')*5 + ('b',)*5)는 에러, 타입이 다른건 연산되지 않음.

In [148]:
string ="2024_바이오헬스 교과목 목록.xlsx"

print(len(string))

print('교과' in string)

print('csv' not in string)

22
True
True

string에 '교과'라는 부분 문자열이 포함되어 있는지를 확인. 주어진 문자열에는 '교과'가 포함되어 있으므로 True

In [149]:
string ="2024_바이오헬스 교과목 목록.xlsx"

print(len(string))

print('202 4' in string)

print('csv' not in string)

22
False
True

string에 '202 4'라는 부분 문자열이 포함되어 있는지를 확인. 주어진 문자열에는 '202 4'가 포함되어있지 않으므로 False

In [150]:
string ="2024_바이오헬스 교과목 목록.xlsx"

print(len(string))

print('202' in string)

print('csv' not in string)

22
True
True

string에 '202'라는 부분 문자열이 포함되어 있는지를 확인. 주어진 문자열에는 '202'가 포함되어 있으므로 True

del name 
my_dict1 = my_dict1 = {name : 'Max', 'age' : 28, 'city': 'New York' }
my_dict1는 에러, name 변수가 삭제되었기 때문에, 이 줄을 실행할 때 NameError가 발생

In [ ]:
name = 1
my_dict1 = {name : 'Max', 'age' : 28, 'city': 'New York' }
my_dict1

{1: 'Max', 'age': 28, 'city': 'New York'}

name은 1로 정의되어 있으므로 1로 변환됨.

In [152]:
name = '1'
my_dict1 = {name : 'Max', 'age' : 28, 'city': 'New York' }
my_dict1

{'1': 'Max', 'age': 28, 'city': 'New York'}

name은 '1'로 정의되어 있으므로 '1'로 변환됨.

name = [1]
my_dict1 = my_dict1 = {name : 'Max', 'age' : 28, 'city': 'New York' }
my_dict1는 에러, 리스트는 mutable 객체이기 때문에 TypeError가 발생, 리스트 대신 튜플과 같은 immutable 객체를 사용해야 함.

In [153]:
name = 10.345
my_dict1 = {name : 'Max', 'age' : 28, 'city': 'New York' }
my_dict1

{10.345: 'Max', 'age': 28, 'city': 'New York'}

name은 10.345로 정의되어 있으므로 10.345로 변환됨. 실수는 immutable 객체로 리스트의 키로 사용가능.

In [154]:
name = 10.345
my_dict1 = {'name' : name, 'age' : 28, 'city': 'New York' }
my_dict1

{'name': 10.345, 'age': 28, 'city': 'New York'}

name이라는 변수에 10.345를 저장, name에 변수 값 10.345이 들어감.

In [155]:
name = [1,2,3,4,5]
my_dict1 = {'name' : name, 'age' : 28, 'city': 'New York' }
my_dict1

{'name': [1, 2, 3, 4, 5], 'age': 28, 'city': 'New York'}

name이라는 변수에 [1,2,3,4,5]를 저장, name에 [1,2,3,4,5]이 들어감.

In [156]:
name = {'age' : 28, 'city': 'New York'}
my_dict1 = {'name' : name, 'age' : 28, 'city': 'New York' }
my_dict1

{'name': {'age': 28, 'city': 'New York'}, 'age': 28, 'city': 'New York'}

name이라는 변수에 {'age' : 28, 'city': 'New York'}를 저장, name에 {'age' : 28, 'city': 'New York'}이 들어감.

In [157]:
name = {'age' : 28, 'city': 'New York'}
my_dict1 = {'name' : 'max', 'name' : 28, 'city': 'New York' }
my_dict1

{'name': 28, 'city': 'New York'}

딕셔너리 안에 같은 키('name')가 두 번 들어가 있어 첫 번째 'name': 'max'는 무시되고, 두 번째 'name': 28만 남음.

name = {'age' : 28, 'city': 'New York'}
my_dict1 = {'name' : 'max', 'age' : 28, 'city': 'New York' }
my_dict1[0]는 에러,

In [158]:
name = {'age' : 28, 'city': 'New York'}
my_dict1 = {'name' : 'max', 'age' : 28, 0: 'New York' }
my_dict1[0]

'New York'

숫자 키 0을 사용해서 값을 꺼내려고 함. 숫자 키 0의 값인 'New York'이 변환됨.

In [159]:
range(5)

range(0, 5)

0부터 4까지 정수를 생성함.

In [160]:
list(range(5))

[0, 1, 2, 3, 4]

0부터 4까지 정수를 생성하는 코드를 리스트로 감싸 변환함.

In [161]:

person_keys = ['name', 'age', 'city']
person_values = ['Max', 28, 'New York']

my_dict4 = dict(zip(person_keys, person_values))
print(f'{my_dict4 = }')

my_dict4 = {'name': 'Max', 'age': 28, 'city': 'New York'}

두 개의 리스트를 zip()으로 묶어서 딕셔너리로 만듦.

In [162]:
person_keys = ['name', 'age', 'city']

person1_values = ['Max', 28, 'New York']

person2_values = ['Anna', 22, 'London']

person3_values = ['Mike', 32, 'San Francisco']


list(zip(person_keys, person1_values, person2_values, person3_values))

[('name', 'Max', 'Anna', 'Mike'),
 ('age', 28, 22, 32),
 ('city', 'New York', 'London', 'San Francisco')]

첫 번째 줄은 각 사람의 이름들을 'name'으로 묶은 것이고, 두 번째는 나이, 세 번째는 도시임.

In [163]:
dict(zip(person_keys, list(zip(person1_values, person2_values, person3_values))))

{'name': ('Max', 'Anna', 'Mike'),
 'age': (28, 22, 32),
 'city': ('New York', 'London', 'San Francisco')}

zip(person1_values, ...)은 각 사람의 동일 인덱스 데이터를 묶고 그걸 다시 zip(person_keys, ...)와 묶음.
dict(...)를 통해 딕셔너리로 바꿈.

In [164]:
map(list, zip(person1_values, person2_values, person3_values))

zip(person1_values, ...)은 각 사람의 동일 인덱스 데이터를 묶고 map(list, ...)은 각 튜플을 리스트로 변환함. map의 데이터를 보기위해 list()로 감쌈

In [165]:
dict(zip(person_keys, map(list, zip(person1_values, person2_values, person3_values))))

{'name': ['Max', 'Anna', 'Mike'],
 'age': [28, 22, 32],
 'city': ['New York', 'London', 'San Francisco']}

zip(person1_values, ...)은 동일한 인덱스끼리 묶은 튜플을 생성, map(list, ...)는 zip으로 묶인 각 튜플을 리스트로 변환, zip(person_keys, ...)는 person_keys와 map으로 변환된 리스트를 묶음, dict()로 묶으면 이 튜플들을 딕셔너리로 변환함.
이 코드는 너무 더러움->pprint() 사용하여 보기 좋게 출력.

In [166]:
3 in [1,2,3]

True

3이 리스트 [1, 2, 3]에 포함되어 있는지를 확인하는 코드임. 3이 있기에 True

In [167]:
30 in [1,2,3]

False

30이 리스트 [1, 2, 3]에 포함되어 있는지를 확인하는 코드임. 30이 없기에 False

a = [1,2,3] ; a[4]는 에러, 인덱스 4는 없기 때문임.

In [174]:
my_dict1 = {'name' : 'Max', 'age' : 28, 'city': 'New York' }
my_dict1['city']

'New York'

key인 'city'는 'New York'이라는 값을 가짐.

In [176]:
my_list = ['Max', 28, 'New York']
my_list[0]

'Max'

리스트의 인덱스는 0부터 시작하므로, my_list[0]은 리스트의 첫 번째 값인 'Max'를 반환

In [177]:
my_list = ['Max', 28, 'New York']
my_list[2]

'New York'

리스트의 인덱스는 0부터 시작하므로, my_list[2]은 리스트의 세 번째 값인 'New York'을 반환

In [184]:
my_dict_dict = {'A': {'name' : 'Max', 'age' : 28, 'city': 'New York' }, 'B' : {'name' : 'Mary', 'age' : 22, 'city': 'Seoul'}}

print(f'{my_dict_dict['A'] = }')

my_dict_dict['A'] = {'name': 'Max', 'age': 28, 'city': 'New York'}

my_dict_dict에서 키인 'A'의 값에 해당하는 {'name' : 'Max', 'age' : 28, 'city': 'New York' }를 불러옴.

In [185]:
print(f'{type(my_dict_dict['A']) = }')

type(my_dict_dict['A']) = <class 'dict'>

(my_dict_dict['A'])의 타입은 딕셔너리임.

print(f'{my_dict_dict['A'][age] = }')는 에러, age를 'age' 문자열로 처리해야함.

my_dict2 = dict(name = 'max', 1 = 28, city = 'Newyork')는 에러, dict() 함수에서 키를 정수(1)로 사용하는 것이 올바르지않음.

In [194]:
my_dict1 = {'name' : 'Max', 1 : 28, 'city': 'New York'}
my_dict1[1]

28

딕셔너리에서 키가 1인 값을 반환, 딕셔너리에서 키가 1인 항목은 1: 28이기 때문에, my_dict1[1]은 28을 반환. 
key를 숫자로 쓰는 건 헷갈릴 수 있음.

In [195]:
my_dict1 = {'name' : 'Max', '1' : 28, 'city': 'New York'}
my_dict1['1']

28

딕셔너리에서 키가 '1'인 값을 반환, 딕셔너리에서 키가 '1'인 항목은 '1': 28이기 때문에, my_dict1['1']은 28을 반환.

list = ['a','b','c','d','e']
list1.get(0)는 에러, list는 get이 없음.

set1 = {'a','b'}
set1.get('a')는 에러, set은 get이 없음.

my_dict10["id"] = 123은 에러, my_dict10이 없음.

In [196]:
my_dict10 = {}
my_dict10["id"] = 123
my_dict10

{'id': 123}

my_dict10 = {}로 빈 딕셔너리 my_dict10을 생성, id라는 키에 값 123을 추가

In [200]:
my_dict10 = {}
my_dict10["id2"] = 1234
my_dict10

{'id2': 1234}

my_dict10 = {}로 빈 딕셔너리 my_dict10을 생성, id2라는 키에 값 1234을 추가

In [198]:
my_dict10 = {}
my_dict10["id3"] = 1234
my_dict10

{'id3': 1234}

my_dict10 = {}로 빈 딕셔너리 my_dict10을 생성, id3라는 키에 값 1234을 추가

In [201]:
list1 = ['a', 'b', 'c', 'd', 'e']
list1.pop()

'e'

['a', 'b', 'c', 'd', 'e']에서 맨뒤에 있는 'e'를 삭제.

In [202]:
list1

['a', 'b', 'c', 'd']

삭제 이후에 list1을 확인해보면 'e'가 빠진걸 알 수 있음.

In [204]:
list1 = ['a', 'b', 'c', 'd', 'e']
list1.pop(0)

'a'

['a', 'b', 'c', 'd', 'e']에서 인덱스 0에 위치한 'a'를 삭제.

In [205]:
list1

['b', 'c', 'd', 'e']

삭제 이후에 list1을 확인해보면 'a'가 빠진걸 알 수 있음.

list1 = ['a', 'b', 'c', 'd', 'e']
list1.pop(10)은 에러, 인덱스 10은 범위 밖임.